.select-plan {
  &__form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-gap: 20px;

    .form-group {
      position: relative;
      input {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
      }

      input:checked ~ .select-plan__form-item {
        background-color: var(--alabster);
        border-color: var(--purplish-blue);
      }

      input:hover ~ .select-plan__form-item {
        border-color: var(--purplish-blue);
      }
    }

    &-item {
      border-radius: 8px;
      border: 1px solid var(--cool-gray);
      background-color: transparent;
      padding: 20px 15px;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      .item-context {
        margin-top: 40px;
        line-height: 1;

        .context-title {
          font-size: 18px;
          font-weight: 500;
          color: var(--marine-blue);
        }

        .context-price {
          font-size: 16px;
          color: var(--cool-gray);
          margin-top: 5px;
        }

        .context-free {
          font-size: 13px;
          color: var(--marine-blue);
          margin-top: 10px;
        }
      }

      &:hover {
        border-color: var(--purplish-blue);
      }
    }
  }

  &__toggle {
    margin-top: 20px;
    background-color: var(--alabster);
    padding: 10px;
    text-align: center;

    .toggle-form {
      display: inline-block;
      cursor: pointer;
      position: relative;

      .toggle-label {
        font-size: 17px;
        font-weight: 700;
        color: var(--cool-gray);

        &.active {
          color: var(--marine-blue);
        }
      }

      .toggle-checkbox:checked + .toggle-switch:before {
        left: 24px;
      }
      
      .toggle-checkbox {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        cursor: pointer;
      }

      .toggle-switch {
        display: inline-block;
        background: var(--marine-blue);
        border-radius: 16px;
        width: 40px;
        height: 20px;
        position: relative;
        vertical-align: middle;
        transition: background 0.25s;
        margin: 0 20px;

        &:before {
          content: '';
          display: block;
          background: linear-gradient(to bottom, #fff 0%, #eee 100%);
          border-radius: 50%;
          width: 13px;
          height: 13px;
          position: absolute;
          top: 3px;
          left: 4px;
          transition: left 0.25s;
        }

        &:after {
          content: '';
        }
      }
    }
  }

  .card-bottom {
    display: flex;
    align-items: center;

    .btn-next {
      margin-left: auto;
    }
  }
}